
.header {
  background-color: #222;
  height: 60px;
  font-size: 20px;
  text-align: center;
  padding: 15px 0px;
  color: white;
  display: inline-block;
  width: 100%;
  position: fixed;
  z-index: 9999;
  .header-icons {
    float: right;
    cursor: pointer;
    margin: 0px 20px;
  }
}
