.ReactModalPortal {
  textarea {
    resize: none;
    width: 198px !important;
    height: 100px !important;
  }
  input {
    width: 200px;
  }
  .input-container {
    display: flex;
    padding-bottom: 20px;
    span {
      width: 100px;
    }
    // input {
    //   height: 50px;
    // }
  }
  .ReactModal__Content {
    width: 350px;
    position: initial;
    top: 41px;
    /* left: 298px; */
    /* right: 40px; */
    bottom: 40px;
    border: 1px solid rgb(204, 204, 204);
    background: rgb(255, 255, 255);
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: 20px;
    justify-content: center;
    margin: 40px auto;
    .footer-container {
      display: flex;
      justify-content: center;
      button {
        margin: 5px;
        cursor: pointer;
      }
    }
  }
}
.container {
  // margin: 100px;
  .heading-container {
    // display: flex;
    // h2 {
    //   width: 800px;
    // }
    input {
      margin: 20px 5px 20px 20px;
    }
  }
  .event-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    .event-card {
      position: relative;
      width: 250px;
      margin: 20px;
      font-family: 'Open Sans', sans-serif;
      // border: 1px solid #000000;
      // min-height: 200px;
      height: 300px;
      -webkit-box-shadow: 3px 3px 14px 0px rgba(50, 50, 50, 0.76);
      -moz-box-shadow: 3px 3px 14px 0px rgba(50, 50, 50, 0.76);
      box-shadow: 3px 3px 14px 0px rgba(50, 50, 50, 0.76);
      button {
        background-color: #000000;
        color: #FFFFFF;
        border: 1px solid #000000;
        height: 30px;
        width: 100%;
        cursor: pointer;
        position: absolute;
        bottom: 0;
      }
      .event-name {
        font-size: 18px;
        text-align: center;
      }
      .event-description {
        font-size: 15px;
        min-height: 100px;
      }
      .event-price {
        font-size: 15px;
        span {
          font-size: 12px;
        }
      }
      .event-venue {
        font-size: 16px;
        padding: 5px;

      }
      div {
        padding: 15px 5px;
        // margin-bottom: 20px;
      }
    }
  }
}
